<<<<<<< HEAD
@import "blog-style.css";
@import "blog-media.css";
@import "post-style.css";
@import "post-media.css";
=======
html {
	box-sizing: border-box;
	color: #333;
}

body {
	background-color: #ccc;
	margin: 30px 150px;
	line-height: 1.4;
}

a {
	text-decoration: none;
	color: #333;
}

/* Blog Title */
header {
	display: grid;
	padding: 0;
	grid-template-rows: 1fr;
}

header h1 {
	font-family: 'Libre Baskerville', serif;
	text-align: center;
	font-size: 5rem;
	font-weight: bold;
	margin-bottom: 20px;
}

/* Navigation */
nav {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	justify-self: center;
	font-size: 1.3rem;
	border-top: 2px solid #333;
	border-bottom: 2px solid #333;
}

.nav-left, .nav-mid, .nav-right {
	font-family: 'Bebas Neue', cursive;
	align-self: center;
	margin: 0;
}

.nav-left {
}

.nav-mid {
	text-align: center;
}

.nav-right {
	text-align: right;
}

/* Main Headline */
.main-head {
	display: grid;
	grid-template-columns: 1fr;
}

.main-head h2 {
	font-family: 'Bebas Neue', cursive;
	text-align: center;
	font-size: 4.5rem;
	margin: 10px 0;
}

/* Top Container */
.top-container {
	display: grid;
	grid-gap: 20px;
	grid-template-areas:
	"showcase showcase top-text";
}

.showcase {
	grid-area: showcase;
	min-width: 400px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-end;
	color: #fff;
	background: url(../img/private-road.jpg) no-repeat;
	background-size: cover;
	background-position: center;
}

/* .showcase img {
	max-width: 800px;
} */

.showcase p {
	font-family: 'Source Serif Pro', serif;
	margin: 0;
	font-size: 0.8rem;
}


.top-text {
	grid-area: top-text;
	display: grid;

}

.top-text p {
	font-family: 'Source Serif Pro', serif;
	margin: 0;
	text-align: justify;
}

/* Short News */
.news-heading {
	display: grid;
	grid-template-columns: 1fr;
}

.news-heading h3 {
	font-family: 'Source Serif Pro', serif;
	text-align: center;
	font-size: 2rem;
	margin: 25px 0;
}

.short-news {
	display: grid;
	grid-gap: 20px;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.topic {
	font-family: 'Source Serif Pro', serif;
	text-align: justify;
}

.topic p {
	margin: 0;
	text-indent: 50px;
}

.topic h4 {
	margin: 10px 0;
}

.topic img {
	width: 100%;
}

.topic span {
	font-weight: bold;
}

/* Footer */
footer {
	display: grid;
	grid-template-columns: 1fr;	
}

footer p {
	font-family: 'Bebas Neue', cursive;
	text-align: center;
	font-size: 1.5rem;
	word-spacing: 3px;
	letter-spacing: 2px;
	margin-top: 48px;
	border-top: 2px solid #333;
	border-bottom: 2px solid #333;
}

/* Media Queries*/
@media (max-width:960px) {
	.main-head h2 {
		font-size: 3rem;
	}
	.top-text p {
		font-size: 0.9rem;
	}
	.top-container {
		grid-template-areas:
		"showcase"
		"top-text";
	}

	.showcase {
		min-height: 300px;
	}
}

@media (max-width: 768px) {
	header h1  {
		font-size: 4rem;
	}

	nav {
		font-size: 1.1rem;
		border-top: 1px solid #333;
		border-bottom: 1px solid #333;
	}

	.main-head h2 {
		font-size: 2.5rem;
	}
}

@media (max-width: 500px) {
	body {
		margin: 30px 50px;
	}

	header h1  {
		font-size: 2rem;
	}

	nav {
		font-size: 0.7rem;
		border-top: 1px solid #333;
		border-bottom: 1px solid #333;
	}

	.main-head h2 {
		font-size: 1.5rem;
	}

	.showcase {
		min-width: 275px;
	}

	.showcase p {
		font-size: 0.5rem;
	}

	.news-heading h3 {
		font-size: 1.5rem;
	}

	.top-text p {
		font-size: 0.7rem;
	}

	.topic p {
		font-size: 0.7rem;
	}

	.topic h4 {
		font-size: .9rem;
	}

	footer p {
		font-size: 1.1rem;
	}

}



































>>>>>>> d6d7105b2113244c72f9294820cf25e710fed7ee
