html {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  color: #fff;
}

body {
  /* height: 100vh; */
  margin: 30px 50px;
  line-height: 1.4;
}

.container {
  display: grid;
  grid-gap: 20px;
}

img {
  max-width: 100%;
}

/* Navigation */
.main-nav ul {
  display: grid;
  grid-gap: 20px;
  padding: 0;
  list-style: none;
  grid-template-columns: repeat(4, 1fr);
}

.main-nav a {
  background: #162d62;
  display: block;
  text-decoration: none;
  padding: 0.8rem;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.1rem;
  border-radius: 15px;
}

.main-nav a:hover {
  background: #efd50d;
  color: #162d62;
}

/* Naming and Icons */
.showname {
  display: grid;
  grid-gap: 20px;
  grid-template-areas:
  "title title skiing snowboard icehockey";
}

/* Title */
.title {
  grid-area: title;
  max-height: 400px;
  min-width: 330px;
  background: #afc6fb;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  border-radius: 25px;
}

.title h1 {
  font-size: 2.6rem;
  margin-bottom: 0;
}

.title h2 {
  font-size: 1.5em;
  margin-bottom: 0;
  font-weight: bold;
}

.title p {
  margin-bottom: 0;
}

.title a {
  color: #fff;
  text-decoration: none;
}

.title a:hover {
  color: #162d62;
}

/* Sports */
.sports {
  background: #89a0d5;
  display: grid;
  align-items: center;
  justify-items: center;
  padding: 1.5rem;
  border-radius: 25px;
}

.sports h4 {
  font-size: 1.4rem;
  text-align: center;
}

.skiing {
  grid-area: skiing;
  justify-content: center;
}

.skiing img {
  max-width: 120px;
}

.snowboard {
  grid-area: snowboard;
}

.snowboard img {
  max-width: 120px;
}

.icehockey {
  grid-area: icehockey;
}

.icehockey img {
  max-width: 120px;
}








footer {
  background: #9fc53a;
  border-radius: 15px;
  padding: 0 3rem;
}






/*
.name {
  grid-area:  name;
  background: #89a0d5;
}

h1 {
  color: white;
  font-size: 4em;
  padding: 0 2em 0 2em;
  text-align: justify;
}

.icon {
  grid-area: icon;
  background: #afc6fb;
}

section.gal {
  grid-area: gal;
  background: #ffff73;
}

footer {
  grid-area: footer;
  background: #9fc53a;
}
*/