/* Media Queries */

@media (max-width: 1050px) {
	body {
		margin: 30px 150px;
	}
}

@media (max-width: 850px) {
	body {
		margin: 15px 50px;
	}

	.blog-header h1 {
		font-size: 1.8rem;
		margin-top: 15px;
		margin-bottom: 0;
	}

	.blog-header {
		font-size: .7rem;
	}

	.blog-main p {
		font-size: .8rem;
		margin: 0;
	}

	.blog-main p:first-child {
		padding-top: 0;
	}

	.blog-search a {
		font-size: .8rem;
	}
}

@media (max-width: 600px) {
	body {
		margin: 15px 15px;
	}

	.nav-wrapper ul {
		margin: 0;
	}

	.nav-wrapper a {
		font-size: .8rem;
		padding: 0;
	}

<<<<<<< HEAD
	.blog-header h1 {
		font-size: 1.3rem;
	}

	figcaption {
	font-size: .6rem;
	}

=======
.blog-header h1 {
		font-size: 1.3rem;
	}

>>>>>>> d6d7105b2113244c72f9294820cf25e710fed7ee
	.blog-author img {
	width: 64px;
	height: 64px;
	border-radius: 32px;
	align-self: center;
	}
}